<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width , initial-scale=1">

                <title>
                        {% block title %}
                                StockPred
                        {% endblock %}
                </title>

                {% block stylesheets %}
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
                        <link rel="stylesheet" href="/static/css/base.css">
                        <link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet"> 
                {% endblock %}
        </head>
        <body>
                <script src="/static/js/today.js"></script>    
                
                <section class="cont1">
                    {% block navbar %}
                        <nav class="navbar nav" role="navigation" aria-label="main navigation">
                            <div class="navbar-brand">
                                <span class="navbar-item">
                                    StockPred
                                </span>
                            </div>
                        </nav>
                    {%endblock%}

                    <div class="main">
                        {% block tabs %}
                                <div class="tabs is-boxed">
                                    <ul>
                                        <li class="is-active">
                                          <a>
                                            <span>Amazon</span>
                                          </a>
                                        </li>
                                    </ul>
                                </div>
                        {% endblock %}

                        {% block input %}
                                <div class="dinput">
                                        <center>
                                            <div class="date">
                                                <h1 id="dec">Enter date for closing stock ( > 01/02/2019) : </h1>
                                                <input id="day" type="date" min="2019-02-01">
                                            </div>

                                            <div class="box-1">
                                                <div class="btn btn-one" onclick=predict()>
                                                    <span>PREDICT</span>
                                                </div>
                                            </div>
                                        </center>
                                </div>
                        {% endblock %}
                    </div>

                    <div class="result">
                        <div class="loader" id="loader">
                        </div>

                        <div class="output hide">
                            <center>
                                <div class="final">
                                    <h1 id="finres">Closing Stock on  </h1>
                                </div>

                                <div class="box-1">
                                    <div class="btn btn-one" onclick=back()>
                                        <span>BACK</span>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </section>
        </body>
</html>
