.navbar{

    height: 8vh;

}

.navbar-item{

    font-weight: bold;
    font-size: 6vw;

}

.tabs{

    padding-top: 3vh;
    font-size: 20px;

}

.main{

    padding-left: 1vw;
    padding-right: 1vw;

}

input{

    font-size: 50px;

}

.date{

    padding-top: 20vh;
    padding-right: 2vw;
    padding-left: 2vw;

}

#dec{

    font-size: 60px;
    padding-bottom: 2vh;

}

#but{

    font-size: 30px;
    margin-top: 3vh;

}

#but:hover {
  background: darken($red, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($red, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($red, 9.5%);
  transition: all 250ms linear;
}
