.navbar{

    height: 12vh;

}

.navbar-item{

    font-weight: bold;
    font-size: 5vw;
    color: white;

}

.tabs{

    padding-top: 3vh;
    font-size: 20px;

}

.main{

    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
    width: 50%;
    height: 100vh;
    transition: all 1s ease-out;

}

.result{

    padding-left: 1vw;
    padding-right: 1vw;
    background: black;
    float: left;
    width: 50%;
    height: 100vh;
    transition: all 1s ease-out;

}

input{

    font-size: 50px;

}

.date{

    padding-top: 20vh;
    padding-right: 2vw;
    padding-left: 2vw;

}

#dec{

    font-size: 60px;
    padding-bottom: 2vh;

}

#but{

    font-size: 30px;
    margin-top: 3vh;

}

#obut{

    font-size: 30px;
    margin-top: 40px;

}

.loader{

    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 35vh;
    border: 2px solid white;
    border-left: none;
    border-right: none;

}

.cont1{

    width: 200vw;

}

.main.slide{

    transform: translateX(-100vw);

}

.result.slide{

    transform: translateX(-100vw);

}

.output.hide{

    display: none;

}

.nav{

    background-color: black;

}

#finres{

    font-size: 60px;

}

.output{

    margin-top: 35vh;

}
